{% extends "base.html" %} {% block title %}Equipment Log v2{% endblock %} {% block content %}

<h1 align="center"> <!--xmlns="http://www.w3.org/1999/html" -->Equipment Log v2</h1>

<h3 align="center">*Signed Out Equipment*</h3>

{% for data in out %}

<div class="bordered">

<li class="list-group-item">

    <div>

        {{ data.item_name.replace('_', ' ') }} - {% if data.item_number < 10 %}0{% endif %}{{ data.item_number }}

        <br />

        Time Out: {{ data.dateOut.strftime('%A, %B %d at %I:%M %p') }}

        <br />

        Requestor:

        {% for user in users %}

            {% if user.email == data.user_email %}

                {{ user.first_name }} {{ user.last_name }}

            {% endif %}

        {% endfor %}

        | <a href="mailto: {{data.user_email}}?subject=ITSC Notice TEST&body=This is a notice from Mount St. Mary's University
        Information Technology Student Center.">

            <u>{{ data.user_email }}</u>

        </a>

        <br />Return Time: {{ data.returnDate.strftime('%A, %B %d, %Y at %I:%M %p') }}

        {% if user.department == 'MANAGER' or user.department == 'ITSC' or user.department == 'LEAD' %}

        <button type="button" class="close" onClick="signIn({{ data.id }})">

            <span aria-hidden="true">&times;</span>

        </button>

      {% endif %}

    </div>

    </li>

</div>

<br />

{% endfor %}

<hr />

<h3 align="center">*Available Equipment*</h3>

{% for data in available %}

<div class="bordered">
    <div>

    <li class="list-group-item">

    <div>
        {{ data.item_name.replace('_', ' ') }} - {% if data.item_number < 10 %}0{% endif %}{{ data.item_number }}

        <br />

        Item ID: {{ data.id }}

        <br />

        Time In: {{ data.dateIn.strftime('%A, %B %d, %Y at %I:%M %p') }}

        {% if user.department == 'MANAGER' or user.department == 'ITSC' or user.department == 'LEAD' %}

        <button type="button" class="close" onClick="signOut({{ data.id }})">

            <span aria-hidden="true">&times;</span>

        </button>

      {% endif %}

    </div>

    </li>
    </div>
</div>

    <br />

{% endfor %}



<hr />

<h3 align="center">*Request Form*</h3>

<br />

<form method="POST" align="center">

    <div>

        TYPE: <select name="item_type">

            <option hidden="">Select Type</option>

            <option value="Adapter">Adapter</option>

            <option value="Laptop">Laptop</option>

            <option value="EIKI_Projector">EIKI_Projector</option>

            <option value="Camera">Camera</option>

            <option value="Power_Supply">Power_Supply</option>

            <option value="TEAC_Amplifier">TEAC_Amplifier</option>

            <option value="Panasonic_DVD_Player">Panasonic_DVD_Player</option>

            <option value="Panasonic_Remote">Panasonic_Remote</option>

            <option value="MG_Speaker">MG_Speaker</option>

            <option value="Sylvania_DVD_Player">Sylvania_DVD_Player</option>

        </select>

        ITEM ID: <input name="item_id" type="number" min="1" max="100000" placeholder="ID #"/>


         | ITEM: <select name="item_name">

            <option hidden="">Select Item</option>

            <option value="USB-C_to_HDMI/VGA">USB-C_to_HDMI/VGA</option>

            <option value="VGA_to_HDMI">VGA_to_HDMI</option>

            <option value="VGA_to_DisplayPort">VGA_to_DisplayPort</option>

            <option value="Mac_to_VGA">Mac_to_VGA</option>

            <option value="Mac_to_HDMI">Mac_to_HDMI</option>

            <option value="VGA_to_iPad/iPhone">VGA_to_iPad/iPhone</option>

            <option value="Loaner_Laptop">Loaner_Laptop</option>

            <option value="Document_Camera">Document_Camera</option>

            <option value="LCDP">LCDP</option>

            <option value="AMP">AMP</option>

            <option value="DVD/VCR">DVD_VCR</option>

            <option value="DVD/VHS">DVD/VHS</option>

            <option value="DVDR">DVDR</option>

            <option value="SPK_A">SPK_A</option>

            <option value="SPK_B">SPK_B</option>

            <option value="AMP">AMP</option>

        </select>


         - <input name="item_number" type="number" min="1" max="100000" placeholder="Item #"/>


          | REQUESTER: <select name="email">

            <option hidden="">Requester</option>

            {% for user in users %}

            <option value={{user.email}}>{{ user.email }}</option>

            {% endfor %}

        </select>

        <br />

        <br />

        <div>

            <label>Select Return Data:</label>

            <input type="datetime-local" id="event-date" name="event-date" max="2022-05-13T22:00" required>

        </div>

        <br />

        <br />

        <div align="center">

            <button type="submit" class="btn btn-primary" onClick="">Check Out</button>

        </div>

    </div>

</form>

<br />

<br />

<br />

{% endblock %}
