{% extends "base.html" %} {% block title %}Item Registry{% endblock %} {% block content %}

<form method="POST" align="center">

  <br />

  <h1 align="center">Item Registration</h1>

  <br />

  <div class="form-group">

    TYPE:
    <select name="item_type">

    <option hidden="">Select Type</option>

    <option value="Adapter">Adapter</option>

    <option value="Laptop">Laptop</option>

    <option value="EIKI_Projector">EIKI_Projector</option>

    <option value="Camera">Camera</option>

    <option value="Power_Supply">Power_Supply</option>

    <option value="TEAC_Amplifier">TEAC_Amplifier</option>

    <option value="Panasonic_DVD_Player">Panasonic_DVD_Player</option>

    <option value="Panasonic_Remote">Panasonic_Remote</option>

    <option value="MG_Speaker">MG_Speaker</option>

    <option value="Sylvania_DVD_Player">Sylvania_DVD_Player</option>

    </select>

  </div>

  <br />

  <div class="form-group">

  ITEM:
  <select name="item_name">

    <option hidden="">Select Item</option>

    <option value="USB-C_to_HDMI/VGA">USB-C_to_HDMI/VGA</option>

    <option value="VGA_to_HDMI">VGA_to_HDMI</option>

    <option value="VGA_to_DisplayPort">VGA_to_DisplayPort</option>

    <option value="Mac_to_VGA">Mac_to_VGA</option>

    <option value="Mac_to_HDMI">Mac_to_HDMI</option>

    <option value="VGA_to_iPad/iPhone">VGA_to_iPad/iPhone</option>

    <option value="Loaner_Laptop">Loaner_Laptop</option>

    <option value="Document_Camera">Document_Camera</option>

    <option value="LCDP">LCDP</option>

    <option value="AMP">AMP</option>

    <option value="DVD/VCR">DVD_VCR</option>

    <option value="DVD/VHS">DVD/VHS</option>

    <option value="DVDR">DVDR</option>

    <option value="SPK_A">SPK_A</option>

    <option value="SPK_B">SPK_B</option>

    <option value="AMP">AMP</option>

  </select>

  </div>

  <br />

  <div class="form-group">

    ITEM #:
    <input name="item_number" type="number" min="1" placeholder="Enter Item Number"/>

  </div>

  <br />

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<hr />

{% for type in item_types %}

<h2>{{ type }}s</h2>

    {% for name in item_names %}

      {% for item in full_inventory %}

        {% if item.item_name == name and item.item_type == type %}

          <p>{{ item.item_name.replace('_', ' ') }} - {% if item.item_number < 10 %}0{% endif %}{{ item.item_number }}</p>

        {% endif %}

      {% endfor %}

    {% endfor %}

{% endfor %}

<hr />

{% if min <= 3 %}

  <h1 align="center">* LOW INVENTORY ALERTS *</h1>

  <br />

    {% for name in item_names %}

      {% if item_counts[item_names.index(name)] <= 3 %}

        <h2>*LOW COUNT: {{ name.replace('_', ' ') }} x{{ item_counts[item_names.index(name)] }}</h2>

          <a href="mailto: {{ lead.email }}?subject=*ALERT*&body=The item count for {{ name }} is running low.">Notify Lead Manager</a>

          <br /><br />

      {% endif %}

    {% endfor %}

{% endif %}


{% endblock %}